# SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
/.php-cs-fixer.cache
/build
/cypress/screenshots/
/cypress/videos/
/js/
/node_modules
/tests/.phpunit.result.cache
/vendor
