<?xml version="1.0" encoding="utf-8"?>
<!--
  - SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
  - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit bootstrap="bootstrap.php"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 cacheDirectory=".phpunit.cache">
	<testsuite name="User retention app tests">
		<directory>.</directory>
	</testsuite>
</phpunit>
